<?xml version="1.0" encoding="utf-8"?>

<plugin>
	<name>Selfie Verification(#2425 by Skalfa)</name>
	<key>photver</key>
	<description>Members need to upload a verification photo. The photos should be approved by the site admin.</description>
    <author>Skalfa</author>
    <authorEmail>info@skalfa.com</authorEmail>
    <authorUrl>https://www.skadate.com</authorUrl>
    <developerKey>99d6bdd5bb6468beaf118c4664dd92ff</developerKey>
    <build>1</build>
    <copyright>(C) 2016 Skalfa LLC. All rights reserved.</copyright>
    <license>SEL</license>
    <licenseUrl>http://www.skadate.com/sel.pdf</licenseUrl>
</plugin>
